#root {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}


.add-form{
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: all 0.2s;

}

.layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
height: 100%;
}

h1{
margin-bottom: 0px;
}


.header{
margin-bottom: 30px;

}

.cards-wrapper{
display:flex;
flex-direction: column;
}